<!DOCTYPE html>
<html>
<head>
    <style>
        .texto-centrado {
            text-align: center; 
            font-size: 30px; 
        }
    </style>
    <style>
        .contenedor {
            display: flex;
            justify-content: center; 
            align-items: center; 
            height: 50vh; 
        }
    </style>
</head>
<body>
    <br><br><br>
    <br><br><br>
    
    <br><br><div class="texto-centrado">
        <h1>Buen Día!</h1>
        </div>
    <div class="contenedor">
        <img src="https://i.pinimg.com/750x/c2/74/b3/c274b31e9a924a0ab280e595d3fceadd.jpg">
        </div>

    <form>
        
    </form>
</body>
</html>