<!DOCTYPE html>
<html>
<head>
    <style>
        .texto-centrado {
            text-align: center; 
            font-size: 24px; 
        }
    </style>
    <style>
        .contenedor {
            display: flex;
            justify-content: center; 
            align-items: rigth; 
            height: 75vh; 
        }
    </style>
</head>
<body>
  
    <form>
     
        
        <div class="texto-centrado">
        <h1>CONTACTANOS!</h1>
       
        <div class="contenedor">
            <img src="https://i.pinimg.com/750x/21/a9/6c/21a96c9a4cf744686b9c15e0bb69e081.jpg">
            </div>
    </div>
    </form>
</body>
</html>